NODE_ENV=development
APP_SECRET=<app_your_secret>
ORIGIN_URL=<your_origin_url>
DATABASE_URL=<your_database_url>

OFFICE_LAT=-6.388161332206356
OFFICE_LONG=106.79236075889243
OFFICE_RADIUS=100

AWS_ACCESS_KEY=<your_aws_access_key>
AWS_SECRET_ACCESS_KEY=<your_aws_secret_access_key>
AWS_REGION=<your_aws_region>
AWS_ENDPOINT=<your_aws_endpoint>
AWS_S3_BUCKET=<your_aws_s3_bucket>
AWS_S3_API_ACL=<your_aws_s3_api_acl>

EMAIL_ADDRESS=<your_email_address>
GOOGLE_APP_PASSWORD=<your_google_app_password>
APP_URL=http://localhost:5173